body {
  background: #eee;
}

#root {
  padding: 2rem 4rem;
  background: #888;
}

.text-bubble {
  background: black;
  color: white;
  width: 410px;
  height: 200px;
  word-break: keep-all;
}

.text-6,
.text-5,
.text-4,
.text-3,
.text-2,
.text-1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  line-height: 1;
}

.text-6 {
  font-size: calc(48px * 1.125 * 1.125 * 1.125 * 1.125 * 1.125);
}

.text-5 {
  font-size: calc(48px * 1.125 * 1.125 * 1.125 * 1.125);
}

.text-4 {
  font-size: calc(48px * 1.125 * 1.125 * 1.125);
}

.text-3 {
  font-size: calc(48px * 1.125 * 1.125);
}

.text-2 {
  font-size: calc(48px * 1.125);
}

.text-1 {
  font-size: calc(48px);
}
